<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget.abp.io" value="https://nuget.abp.io/9951d56f-e49e-45aa-a4ad-32f2ecff18ed/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Microsoft.*" />
      <package pattern="Volo.*" />
    </packageSource>
    <packageSource key="nuget.abp.io">
      <package pattern="Volo.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>